@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Variables */
:root{
    --button-color: #E95A08;
    --button-text-color: #FFFFFF;
    --button-hover-color: #a78b0c;
}

/* shared styles */
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-orange{
    color: #E95A08;
}
.text-gray{
    color: rgba(0, 0, 0, 0.5);
}

.primary-button{
    border:none;
    width: 270px;
    height: 50px;
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--button-color);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.primary-button:hover {
    background-color: var(--button-hover-color); /* Specify the hover color here */
}
.hidden{
    display: none;
}

/* Navbar styles */
.navbar-container{
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.image-container img{
    height: 71px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.anchor-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    
}
.nav-items a{
    text-decoration: none;
    color:black;
}
.nav-item-d img{
    display: inline;
    height: 24px;
    width: 24px;
}
.nav-item-d .nav-anchor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* banner */

/* Card */
.card-header{
    margin-top:120px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}
.card-title{
    /* display: flex;
    justify-content: center; */
    
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.card-description-container{
    height: 54px;
    width: 888px;
    margin: 0 auto;

}
.card-description-container .card-description{
    /* text-align: center; */
    font-size: 22px;

}

.card-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-content: center;
    column-gap: 20px;
    margin-top: 49px;
    margin-bottom: 210px;
}
.card-box{
    height: 484.94px;
    width: 270px;
    margin-bottom: 30px;
}
.card-price-title-container{
    width: 132px;
    height: 52px;
    margin: 30px auto;
}
.card-box .card-inside-title{
    font-size: 22px;
}
.card-box .card-price{
    font-weight: 700;
    text-align: center;
}
.card-box .primary-button .button-text{
    font-weight: 600;

}
/* Feature section */
.feature-container{
    display: flex;
    justify-content: space-between;
    height: 597px;
    margin-bottom: 391.88px;

}
.feature-img-container .feature-badge {
    height: 286px;
    width: 286px;
    position: relative;
    margin-top: -730px;
    margin-left: 350px;
}


.feature-img-container .feature-img{
    height: 597px;
    width: 540px;
}

.feature-text-container{
    align-content: center;
}
.feature-title{
    margin-bottom: 20px;
}
.feature-description-list{
    list-style-type: disc;
}
.feature-description-list .feature-item{
    height: 108px;
    width: 540px;
    margin-bottom: 20px;
}




@media screen and (max-width:576px) {
    body{
        margin-left: 16px;
        margin-right: 16px;
    }
    /* Navbar display */
    .nav-item-a , 
    .nav-item-b , 
    .nav-item-c{
        display: none;
    }
    .navbar-container{
        margin-top: 13px;
    }
    .image-container img{
        height: 38px;
        width: 63px;
    }
    /* Banner */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-image img{
        height: 245px;
        width: 393.18px;
        margin-bottom:28px;
    }
    .banner-text{
        height: 200px;
    }
    .banner-text .banner-title{
        font-size: 24px;
        height: 33px;
        margin-bottom: 50px;
    }
    .banner-text .banner-description{
        height: 68px;
        font-size: 14px;
    }
    /* Card section */
    .card-header{
        margin-top: 65px;
    }
    .card-title{
        font-size: 24px;
    }
    .card-description-container{
        height: 68px;
        width: 336px;
        margin: 0 auto;
    }
    .card-description-container .card-description{
        font-size: 14px;
    }
    .card-container{
        grid-template-columns: repeat(2 ,1fr);
        row-gap: 29.5px;
        margin-top: 28px;
        margin-bottom: 41.5px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .card-box{
        height: 340.5px;
        width: 171px;
        margin-bottom: 29.5px;
    }
    .card-box .primary-button{
        height: 50px;
        width: 171px;
    }
    /* Feature Section */
    .feature-container{
        flex-direction: column;
        height: 870px;
        width: 100%;

    }
    .feature-img-container{
        height: 396px;
        width: 100%;
        margin-bottom: 20px;

    }
    .feature-img-container .feature-img{
        margin-bottom: 18px;


    }
    .feature-img-container .feature-badge{
        display: none;
        
    }
    .feature-title-break{
        display: none;
    } 
    .feature-text-container{
        height: 234px;
        width: 100%;
    }
    .feature-title{
        height: 33px;
        width: 270px;
        margin-bottom: 20px;
        font-size: 24px;

    } 
    .feature-description-list{
        font-size: 14px;

    }
    .feature-description-list .feature-item{
        height: 61px;
        width: 361px;
        margin-bottom: 20px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        margin-left: 16px;
        margin-right: 16px;

    }

}
